/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero
  img
    max-width 450px!important
  .action-button
    background-color #F6BE48!important

.home
  .features
    border none!important
  .footer
    border none!important

.navbar
  .logo
    min-width initial!important
    margin-right 2px!important
  .links .search-box
    order 1
    margin-right initial
    margin-left 1rem
